gymnasium==0.29.1
jax==0.4.38
msgpack==1.0.8
zstandard==0.22.0
setproctitle==1.3.3
markdown-it-py==3.0.0
rsa==4.9
nvidia-nvtx-cu12==12.1.105
mypy-extensions==1.0.0
orbax-checkpoint==0.4.4
proto-plus==1.24.0
tensorboard==2.20.0
tinyscaler==1.2.8
certifi==2024.2.2
typeguard==4.4.1
wheel==0.44.0
wheel==0.43.0
distrax==0.1.5
moviepy==1.0.3
imageio-ffmpeg==0.4.9
jedi==0.19.1
chex==0.1.85
triton==2.3.1
tensorboard-data-server==0.7.2
draccus==0.8.0
termcolor==2.4.0
nvidia-cudnn-cu11==9.1.1.17
docstring_parser==0.16
iniconfig==2.1.0
nvidia-cudnn-cu12==9.16.0.29
gitdb==4.0.11
pink-noise-rl==2.0.1
transformers==4.40.1
rpds-py==0.19.0
distlib==0.3.8
pooch==1.8.1
nodeenv==1.8.0
ipython==8.25.0
PyYAML==6.0.1
crcmod==1.7
referencing==0.35.1
nvidia-cusolver-cu12==11.4.5.107
ptyprocess==0.7.0
dnspython==2.6.1
accelerate==0.31.0
rich==13.7.1
dm-control==1.0.16
docopt==0.6.2
black==25.1.0
objsize==0.7.0
nvidia-cuda-cupti-cu11==11.8.87
lxml==5.2.2
tzdata==2024.2
pytest==8.4.1
Jinja2==3.1.4
joblib==1.4.2
protobuf==4.25.3
Js2Py==0.74
trimesh==4.4.0
marshmallow==3.21.2
typing_extensions==4.15.0
jsonschema-specifications==2023.12.1
astunparse==1.6.3
fsspec==2024.5.0
editdistance==0.8.1
pandas==2.2.3
psutil==5.9.8
google-pasta==0.2.0
packaging==24.0
flax==0.10.4
mujoco==3.1.3
namex==0.1.0
nvidia-cusparse-cu12==12.1.0.106
scikit-build==0.17.6
treescope==0.1.10
cloudpickle==2.2.1
timm==0.9.10
brax==0.10.3
dlimp==0.0.1
pytinyrenderer==0.0.14
tomli==2.0.1
immutabledict==4.2.0
sockets==1.0.0
pyvista==0.43.8
idna==3.7
ninja==1.11.1.1
tyro==0.9.2
wrapt==1.14.1
tensorflow-probability==0.23.0
tensorstore==0.1.45
ruff==0.14.3
gast==0.5.4
pyasn1==0.6.0
pip==24.2
pip==24.0
plotly==5.22.0
ale-py==0.10.1
numpy==1.26.4
requests==2.31.0
huggingface-hub==0.23.2
labmaze==1.0.6
octo==0.0.0
jaxopt==0.8.5
cycler==0.12.1
pyrallis==0.3.1
pure-eval==0.2.2
orjson==3.10.6
regex==2024.5.15
jaxlib==0.4.38
dill==0.3.1.1
pyarrow==16.1.0
nvidia-nvjitlink-cu12==12.5.40
setuptools==75.1.0
setuptools==69.5.1
scikit-learn==1.6.1
matplotlib-inline==0.1.7
torch==2.3.1+cpu
pydantic_core==2.41.5
mpmath==1.3.0
ml_dtypes==0.5.4
platformdirs==4.2.2
flask-cors==6.0.1
pyjsparser==2.7.1
threadpoolctl==3.5.0
opencv-python==4.10.0.84
scipy==1.12.0
identify==2.5.36
seaborn==0.13.2
submitit==1.5.3
argparse==1.4.0
filelock==3.14.0
mujoco-mjx==3.1.3
cfgv==3.4.0
tokenizers==0.19.1
executing==2.0.1
tenacity==8.3.0
oauthlib==3.2.2
gym-notices==0.0.8
attrs==23.2.0
traitlets==5.14.3
einops==0.8.0
contourpy==1.2.1
jax-cuda12-plugin==0.4.38
pyyaml-include==1.4.1
urllib3==2.2.1
safetensors==0.4.3
networkx==3.3
google-auth-oauthlib==1.2.0
orbax==0.1.9
pytz==2024.1
virtualenv==20.26.2
zipp==3.19.0
fastavro==1.9.5
jax-cuda12-pjrt==0.4.38
fonttools==4.52.4
Werkzeug==3.1.3
nvidia-cuda-cupti-cu12==12.1.105
kiwisolver==1.4.5
click==8.1.7
distro==1.9.0
gymnax==0.0.9
PyOpenGL==3.1.7
nest-asyncio==1.6.0
SuperSuit==3.9.3
tensorboardX==2.6.4
pydantic==2.12.4
tensorflow-hub==0.16.1
tzlocal==5.2
optax==0.1.5
exceptiongroup==1.2.1
nvidia-nccl-cu12==2.20.5
vtk==9.3.0
nvidia-cusolver-cu11==11.4.1.48
pyarrow-hotfix==0.6
decorator==4.4.2
torchvision==0.18.1
pymongo==4.8.0
pygame==2.6.1
pre-commit==3.3.3
jsonpickle==3.2.2
OpenEXR==3.2.4
blinker==1.9.0
e==1.4.5
nvidia-curand-cu12==10.3.2.106
nvidia-cuda-runtime-cu11==11.8.89
array_record==0.5.1
nvidia-cufft-cu12==11.0.2.54
dm-env==1.6
mergedeep==1.3.4
ml_collections==0.1.1
pydot==1.4.2
parso==0.8.4
pettingzoo==1.24.3
future==1.0.0
absl-py==2.1.0
wcwidth==0.2.13
python-dateutil==2.9.0.post0
google-auth==2.29.0
peft==0.11.1
dataclasses==0.6
nvidia-nccl-cu11==2.21.5
nvidia-cuda-nvrtc-cu12==12.1.105
prompt_toolkit==3.0.46
tensorflow-gcs-config==2.15.0
requests-oauthlib==2.0.0
ffmpeg==1.4
dataclasses-json==0.6.6
GitPython==3.1.43
Farama-Notifications==0.0.4
httplib2==0.22.0
sk-video==1.1.10
pyparsing==3.1.2
MarkupSafe==2.1.5
toml==0.10.2
typing-inspection==0.4.2
stack-data==0.6.3
simple_parsing==0.1.5
fasteners==0.19
async-timeout==4.0.3
Pygments==2.18.0
imageio==2.34.1
nvidia-cuda-nvcc-cu12==12.9.86
nvidia-nvshmem-cu12==3.4.5
stable_baselines3==2.4.0
tensorflow-addons==0.23.0
toolz==0.12.1
gym==0.26.2
pexpect==4.9.0
opt-einsum==3.3.0
itsdangerous==2.2.0
flatbuffers==24.3.25
redis==5.0.7
asttokens==2.4.1
nvidia-cublas-cu11==11.11.3.6
six==1.16.0
nvidia-cublas-cu12==12.1.3.1
optree==0.18.0
pybind11==2.12.0
Markdown==3.6
charset-normalizer==3.3.2
pyright==1.1.407
promise==2.3
nvidia-cusparse-cu11==11.7.5.86
typing-inspect==0.9.0
sympy==1.12.1
cachetools==5.3.3
pathspec==0.12.1
proglog==0.1.10
nvidia-cufft-cu11==10.9.0.58
pillow==10.3.0
Flask==3.1.2
flatten-dict==0.4.2
annotated-types==0.7.0
docker-pycreds==0.4.0
nvidia-cuda-nvcc-cu11==11.8.89
hdfs==2.7.3
nvidia-cuda-runtime-cu12==12.1.105
etils==1.7.0
scooby==0.10.0
flash-attn==2.5.8
jaxmarl==0.1.0
contextlib2==21.6.0
wandb==0.23.0
h5py==3.15.1
mdurl==0.1.2
pyasn1_modules==0.4.0
tqdm==4.66.4
xminigrid==0.9.1
pluggy==1.6.0
grpcio==1.64.0
glfw==2.7.0
matplotlib==3.9.0
sentry-sdk==2.3.1
tensorflow-io-gcs-filesystem==0.37.0
smmap==5.0.1
dm-tree==0.1.8
shtab==1.7.1
importlib_resources==6.4.0
libclang==18.1.1
jsonschema==4.23.0
xminigrid==0.9.1
EGG==0.1.0
